<div class="modal-parent">
  <!-- Dialog header -->
  <div class="modal-header">
    <h4 class="modal-title">ATTACH FILE</h4>
  </div>

  <!-- Dialog body -->
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input class="form-control-file" type="file" file-model="imgFile">
      </div>
    </form>
  </div>

  <!-- Dialog footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
    <button class="btn btn-danger" type="button" ng-click="apply()">Attach</button>
  </div>
</div>
