<div class="modal-parent">
  <!-- Dialog header -->
  <div class="modal-header">
    <h4 class="modal-title">
      <img class="table-image" ng-src="{{mailInfo.avatar}}">
      <span ng-bind="mailInfo.email || '---'"></span>;
      <span>Theme: {{mailInfo.header || '---'}}</span>
    </h4>
  </div>

  <!-- Dialog body -->
  <div class="modal-body">
    <div>
      <ul>
        <li ng-repeat="file in mailInfo.files">
          <a href="{{file.data_url}}" target="_blank">File</a>
        </li>
      </ul>
    </div>

    <pre style="overflow: hidden;white-space: normal;" ng-bind="mailInfo.content"><pre>
  </div>

  <!-- Dialog footer -->
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="cancel()">Close</button>
  </div>
</div>
