.mails
  width: 100vw
  height: 100vh

  &__user
    background-color: #303f9f
    width: 20%
    height: 100%
    min-width: 250px
    min-height: 100%

  &__avatar-box
    text-align: center
    padding-top: 20px

  &__avatar
    width: 200px
    height: 200px
    border-radius: 50%
    border: 5px solid

  &__user-info
    color: white

  &__user-add-info
    margin-top: 5px
    width: 100%
    color: white
    border-collapse: separate
    border-spacing: 10px

    .title
      padding: 0 15px
