<section class="mails">
  <!-- User info section -->
  <section class="mails__user">
    <div class="mails__avatar-box">
      <img ng-src="{{$ctrl.avatar}}" class="mails__avatar">
    </div>

    <div class="mails__user-info">
      <h4 class="text-center">{{$ctrl.user.name || '---'}}  {{$ctrl.user.subname || '---'}}</h4>
      <h5 class="text-center mails__user-email">
        <span ng-bind="$ctrl.user.email"></span>
        <i title="settings" class="fa fa-cog pointer" ng-click="$ctrl.changeSettings()" aria-hidden="true"></i>
        <i title="avatar" class="fa fa-file-image-o pointer" aria-hidden="true" ng-click="$ctrl.changeAvatar()"></i>
        <i title="logout" class="fa fa-arrow-circle-right pointer" aria-hidden="true" ng-click="$ctrl.logout()"></i>
      </h5>
    </div>
    <hr class="mails__line">
    <table class="mails__user-add-info">
      <tr>
        <td class="title">CITY:</td>
        <td ng-bind="$ctrl.user.country || '---'"></td>
      </tr>

      <tr>
        <td class="title">AGE</td>
        <td ng-bind="$ctrl.user.age || '---'"></td>
      </tr>

      <tr>
        <td class="title">PHONE:</td>
        <td ng-bind="$ctrl.user.telephone_number || '---'"></td>
      </tr>
    </table>
    <hr class="mails__line">

    <!-- Action section -->
    <section class="text-center">
      <button class="btn btn-info pointer" style="width: 50px;height: 50px;border-radius: 50%;font-size: x-large;">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </section>
  </section>

  <!-- Mails section -->
  <section style="width: 80%; height: 100%;position: relative">
    <div style="position: absolute;width: 100%;height: 100%;overflow-y: auto;">
      <table class="table table-dark">
        <tr>
          <!-- Sender avatar -->
          <td style="width: 60px;">
            <img ng-src="{{$ctrl.avatar}}" style="border-radius: 50%;width: 50px;height: 50px;">
          </td>

          <!-- Sender email -->
          <td style="vertical-align: middle;width:25%">
            <span>_vp@example.com</span>
          </td>

          <!-- Sender name -->
          <td style="vertical-align: middle;width:25%">
            <span>vlad punko</span>
          </td>

          <!-- Sender city -->
          <td style="vertical-align: middle;width:15%">
            <span>Min</span>
          </td>

          <!-- Mail header -->
          <td style="vertical-align: middle;width:15%">
            <span>Theme</span>
          </td>

          <!-- Mail actions -->
          <td style="vertical-align: middle;width: 60px;">
            <i class="fa fa-times" aria-hidden="true"></i>
          </td>
        </tr>

        <tr>
          <!-- Sender avatar -->
          <td style="width: 60px;">
            <img ng-src="{{$ctrl.avatar}}" style="border-radius: 50%;width: 50px;height: 50px;">
          </td>

          <!-- Sender email -->
          <td style="vertical-align: middle;width:25%">
            <span>_vp@example.com</span>
          </td>

          <!-- Sender name -->
          <td style="vertical-align: middle;width:25%">
            <span>vlad punko</span>
          </td>

          <!-- Sender city -->
          <td style="vertical-align: middle;width:15%">
            <span>Min</span>
          </td>

          <!-- Mail header -->
          <td style="vertical-align: middle;width:15%">
            <span>Theme</span>
          </td>

          <!-- Mail actions -->
          <td style="vertical-align: middle;width: 60px;">
            <i class="fa fa-times" aria-hidden="true"></i>
          </td>
        </tr>

        <tr>
          <!-- Sender avatar -->
          <td style="width: 60px;">
            <img ng-src="{{$ctrl.avatar}}" style="border-radius: 50%;width: 50px;height: 50px;">
          </td>

          <!-- Sender email -->
          <td style="vertical-align: middle;width:25%">
            <span>_vp@example.com</span>
          </td>

          <!-- Sender name -->
          <td style="vertical-align: middle;width:25%">
            <span>vlad punko</span>
          </td>

          <!-- Sender city -->
          <td style="vertical-align: middle;width:15%">
            <span>Min</span>
          </td>

          <!-- Mail header -->
          <td style="vertical-align: middle;width:15%">
            <span>Theme</span>
          </td>

          <!-- Mail actions -->
          <td style="vertical-align: middle;width: 60px;">
            <i class="fa fa-times" aria-hidden="true"></i>
          </td>
        </tr>
      </table>
    </div>
  </section>
</section>
