<section class="mails">
  <!-- User info section -->
  <section class="mails__user">
    <div class="mails__avatar-box">
      <img ng-src="{{$ctrl.avatar}}" class="mails__avatar">
    </div>

    <div class="mails__user-info">
      <h4 class="text-center">{{$ctrl.user.name || '---'}}  {{$ctrl.user.subname || '---'}}</h4>
      <h5 class="text-center mails__user-email">
        <span ng-bind="$ctrl.user.email"></span>
        <i title="settings" class="fa fa-cog pointer" ng-click="$ctrl.changeSettings()" aria-hidden="true"></i>
        <i title="avatar" class="fa fa-file-image-o pointer" aria-hidden="true" ng-click="$ctrl.changeAvatar()"></i>
        <i title="logout" class="fa fa-arrow-circle-right pointer" aria-hidden="true" ng-click="$ctrl.logout()"></i>
      </h5>
    </div>
    <hr class="mails__line">
    <table class="mails__user-add-info">
      <tr>
        <td class="title">CITY:</td>
        <td ng-bind="$ctrl.user.country || '---'"></td>
      </tr>

      <tr>
        <td class="title">AGE</td>
        <td ng-bind="$ctrl.user.age || '---'"></td>
      </tr>

      <tr>
        <td class="title">PHONE:</td>
        <td ng-bind="$ctrl.user.telephone_number || '---'"></td>
      </tr>
    </table>
    <hr class="mails__line">

    <!-- <\!-- Action section -\-> -->
    <!-- <section class="text-center"> -->
    <!--   <button class="btn btn-info pointer" style="width: 50px;height: 50px;border-radius: 50%;font-size: x-large;"> -->
    <!--     <i class="fa fa-paper-plane" aria-hidden="true"></i> -->
    <!--   </button> -->
    <!-- </section> -->
  </section>

  <!-- Mails section -->
  <section class="mails-list">
    <div class="mails-box">
      <table class="table table-dark">
        <tr class="table-tr" ng-repeat="mail in $ctrl.mails">
          <!-- Sender avatar -->
          <td class="table-image-box">
            <img class="table-image" ng-src="{{mail.avatar}}">
          </td>

          <!-- Sender email -->
          <td class="table-info" ng-bind="mail.email || '---'"></td>

          <!-- Sender name -->
          <td class="table-info" ng-bind="mail.name || '---'"></td>

          <!-- Sender city -->
          <td class="table-info" ng-bind="mail.country || '---'"></td>

          <!-- Mail header -->
          <td style="vertical-align: middle; width: 20%" ng-bind="mail.header || '---'"></td>

          <!-- Mail actions -->
          <td class="table-actions">
            <i class="fa fa-times error-color" aria-hidden="true"></i>
          </td>
        </tr>
      </table>
    </div>
  </section>
</section>
