<div class="modal-parent">
    <div class="modal-header">
        <h4 class="modal-title">User settings</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <input type="file" file-model="imgFile">
        </div>

        <div class="form-group">
          <input type="text" placeholder="Username" class="form-control" ng-model="user.name">
        </div>

        <div class="form-group">
          <input type="text" placeholder="Subname" class="form-control" ng-model="user.subname">
        </div>

        <div class="form-group">
          <input type="text" placeholder="Email" class="form-control" ng-model="user.email">
        </div>

        <div class="form-group">
          <input type="text" placeholder="Age" class="form-control" ng-model="user.age">
        </div>

        <div class="form-group">
          <input type="text" placeholder="Phone" class="form-control" ng-model="user.telephone_number">
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="cancel()">Cancel</button>
        <button class="btn btn-danger" type="button" ng-click="applySettings()">ApplySettings</button>
        <button class="btn btn-danger" type="button" ng-click="changeAvatar()">ChangeAvatar</button>
    </div>
</div>
